<% @page_title = "Edit #{@admin_user.name}" %>

<%= link_to  '<< Back to List', admin_users_path, :class => 'back-link' %>

<div class="admin_user edit">
  <h2>Edit Admin User</h2>
  <!--  This is the long form of the form declaration but is not required -->
  <%#= form_for(@subject, :url => subjects_path, :method => 'post' ) do |f| %>
  <%= form_for(@admin_user) do |f| %>

    <%= render(:partial => 'form', :locals => { :f => f }) %>

    <div class="form-buttons">
      <%= f.submit("Update Admin User") %>
    </div>

  <% end %>
</div>